<ng-container [ngSwitch]="!!i18n && !!forum && !!discussions">
  <div *ngSwitchCase="true" class="card">
    <div class="card-header">
      <h2>
        <i class="fa fa-users fa-fw" aria-hidden="true"></i> {{ forum.title }}
      </h2>
      <div class="forum-actions">
        <a class="edit-forum" routerLink="edit">
          <i class="fa fa-edit" aria-hidden="true"></i> {{ i18n.buttons.edit }}
        </a>
        <button (click)="removeForum()" class="remove-forum">
        <i class="fa fa-remove" aria-hidden="true"></i>
        {{ i18n.buttons.remove }}
      </button>
      </div>
    </div>
    <div class="card-block">
      <p>{{ forum.description }}</p>
      <button (click)="addDiscussion()" class="add-discussion">
      <i class="fa fa-plus" aria-hidden="true"></i> {{ i18n.buttons.add_discussion }}
    </button>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let discussion of discussions">
        <h6 class="list-group-item-title w-100">
          <a [routerLink]="'discussion/' + discussion.key">
            <i class="fa fa-fw fa-comments" aria-hidden="true"></i> {{ discussion.title }}
          </a>
          <small class="text-right pull-right text-muted">{{ discussion.modifiedDate | amTimeAgo }}</small>
        </h6>
        <p>{{ discussion.description }}</p>
        <div class="w-100 d-flex justify-content-end">
          <button (click)="removeDiscussion(discussion)" class="remove-discussion">
            <i class="fa fa-remove" aria-hidden="true"></i>
            {{ i18n.buttons.remove }}
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="false" class="d-flex justify-content-center w-100 align-items-center h-100">
    <i class="fa fa-spinner fa-spin fa-4x"></i>
  </div>
</ng-container>
