<div class="card">
  <div class="card-header">
    <h2>{{ forum?.title }}</h2>
    <button (click)="addDiscussion()" class="add-discussion">
      {{ 'FORUM.ADD_DISCUSSION_BUTTON' | translate }}
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div class="card-block">
    <p>{{ forum?.description }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let discussion of forum?.discussions">
      {{discussion | json}}
    </li>
  </ul>
</div>
