@import "../../styles";
.container {
  @extend .my-4;
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
}

h1,
h2 {
  @extend .text-center;
}

h1 {
  @extend .display-3;
}

.buttons {
  @extend .my-4;
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .flex-wrap;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 75%;
  }
  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

button {
  @extend .btn;
  @extend .btn-info;
}
