// Font
$brand-font-display: 'Baloo Bhaina';
$brand-font-heading: 'Bree Serif';
$brand-font-body: 'Catamaran';
// Colors
$brand-primary: #009999;
$brand-inverse: #123d3d;
$brand-info: #32213a;
$white:#e8f2f2;
$black:#353838;
