<ng-container [ngSwitch]="!!i18n && !!currentUser">
  <header *ngSwitchCase="true" class="navbar">
    <nav class="container">
      <div class="brand">
        <button (click)="toggleNavbar($event)" class="navbar-toggler">
        <span id="navbar-toggler" class="navbar-toggler-icon"></span>
      </button>
        <a routerLink="/home" class="navbar-brand">{{ i18n.title }}</a>
      </div>
      <div class="navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" *ngFor="let link of links">
            <a class="nav-link" routerLinkActive="active" [routerLink]="link.url">
              <i class="fa fa-lg fa-{{ link.icon }}" aria-hidden="true"></i> {{ link.title }}
            </a>
          </li>
        </ul>
        <ng-container [ngSwitch]="isLoggedIn()|async">
          <ng-container *ngSwitchCase="true">
            <span class="welcome-message" [translate]="'navbar.welcome'" [translateParams]="{displayName: currentUser.displayName}"></span>
            <div class="profile-image">
              <img [src]="currentUser.photoURL" [alt]="currentUser.displayName">
            </div>
            <button class="logout" (click)="logout()">{{ i18n.buttons.logout }} <i class="fa fa-sign-out" aria-hidden="true"></i></button>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <a routerLink="/login" class="login">{{ i18n.buttons.login }} <i class="fa fa-sign-in" aria-hidden="true"></i></a>
          </ng-container>
        </ng-container>
      </div>
    </nav>
  </header>
</ng-container>
