<app-loader [loaded]="!!currentUser">
  <header class="navbar navbar-inverse navbar-toggleable-md bg-primary">
    <nav class="container">
      <div class="brand">
        <button (click)="toggleNavbar($event)" class="navbar-toggler">
        <span id="navbar-toggler" class="navbar-toggler-icon"></span>
      </button>
        <a routerLink="/home" class="navbar-brand display-4" translate="navbar.title"></a>
      </div>
      <div class="navbar-collapse d-flex align-items-center" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
              <i class="fa fa-home mr-2" aria-hidden="true"></i> {{ 'navbar.links.home' | translate }}
            </a>
          </li>
          <li class="nav-item mr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="/forum">
              <i class="fa fa-users mr-2" aria-hidden="true"></i> {{ 'navbar.links.forum' | translate }}
            </a>
          </li>
        </ul>
        <ng-container [ngSwitch]="isLoggedIn()|async">
          <ng-container *ngSwitchCase="true">
            <span class="navbar-text mx-1" translate="navbar.welcome" [translateParams]="{displayName: currentUser.email}"></span>
            <img *ngIf="!!currentUser.photoURL" class="ml-2 rounded-circle img-fluid h-75" [src]="currentUser.photoURL" [alt]="currentUser.email">
            <button class="ml-2" logout-btn (click)="logout()"></button>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <a login-btn routerLink="/login"></a>
          </ng-container>
        </ng-container>
      </div>
    </nav>
  </header>
</app-loader>
