@import "../../../styles";
.navbar {
  @extend .navbar-inverse;
  @extend .navbar-toggleable-md;
  @extend .bg-primary;
}

.navbar,
.navbar-collapse,
.container {
  height: 70px;
}

.navbar-brand {
  font-size: $font-size-h4;
  font-family: $brand-font-display;
  color: $white;
  @include media-breakpoint-up(md) {
    font-size: $font-size-h2;
  }
}

.navbar-collapse {
  @extend .d-flex;
  @extend .align-items-center;
}

.welcome-message {
  @extend .navbar-text;
  @extend .mx-1;
}

.profile-image {
  height: 100%;
  img {
    @extend .rounded-circle;
    height: 100%;
    padding: 10px;
  }
}

.logout,
.login {
  @extend .btn;
  @extend .btn-info;
}
