@import "../../../styles";
:host {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .bg-primary;
}

.navbar-brand {
  font-size: $font-size-h2;
  font-family: $brand-font-display;
  color: $white;
}
