<app-loader [loaded]="!!currentUser">
  <header class="navbar">
    <nav class="container">
      <div class="brand">
        <button (click)="toggleNavbar($event)" class="navbar-toggler">
        <span id="navbar-toggler" class="navbar-toggler-icon"></span>
      </button>
        <a routerLink="/home" class="navbar-brand" translate="navbar.title"></a>
      </div>
      <div class="navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">
              <i class="fa fa-home mr-2" aria-hidden="true"></i> {{ 'navbar.links.home' | translate }}
            </a>
          </li>
          <li class="nav-item mr-2" routerLinkActive="active">
            <a class="nav-link" routerLink="/forum">
              <i class="fa fa-users mr-2" aria-hidden="true"></i> {{ 'navbar.links.forum' | translate }}
            </a>
          </li>
        </ul>
        <ng-container [ngSwitch]="isLoggedIn()|async">
          <ng-container *ngSwitchCase="true">
            <span class="welcome-message" translate="navbar.welcome" [translateParams]="{displayName: currentUser.displayName}"></span>
            <div class="profile-image">
              <img [src]="currentUser.photoURL" [alt]="currentUser.displayName">
            </div>
            <button class="logout" (click)="logout()">{{ 'buttons.logout' | translate }} <i class="fa fa-sign-out" aria-hidden="true"></i></button>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <a routerLink="/login" class="login">{{ 'buttons.login' | translate }} <i class="fa fa-sign-in" aria-hidden="true"></i></a>
          </ng-container>
        </ng-container>
      </div>
    </nav>
  </header>
</app-loader>
