<div class="card">
  <div class="card-header">
    <h2 class="card-title">
      <i class="fa fa-users" aria-hidden="true"></i> {{ 'FORUMS_LIST.TITLE' | translate }}
    </h2>
    <button *ngIf="isLoggedIn()|async" (click)="addForum()" class="add-forum">
      <i class="fa fa-plus" aria-hidden="true"></i>
      {{ 'FORUMS_LIST.ADD_BUTTON' | translate}} 
    </button>
  </div>
  <ul class="forums">
    <li class="forum" *ngFor="let forum of forums">
      <div class="title">
        <h5>
          <a [routerLink]="'/forum/' + forum.key">
          {{forum.title}}
          </a>
        </h5>
        <small class="w-25 text-right">{{forum.createdDate | amTimeAgo }}</small>
      </div>
      <p class="card-text">{{forum.description}}</p>
      <div class="actions">
        <a class="view-forum" [routerLink]="'/forum/' + forum.key" class="card-link">
          <i class="fa fa-users" aria-hidden="true"></i> {{ 'FORUMS_LIST.VISIT_FORUM' | translate}}
        </a>
        <button (click)="removeForum(forum)" class="remove-forum">
          <i class="fa fa-remove" aria-hidden="true"></i>
        {{ 'BUTTONS.REMOVE' | translate }}
        </button>
        <a [routerLink]="'/forum/' + forum.key + '/edit'" class="edit-forum">
          <i class="fa fa-edit" aria-hidden="true"></i> {{ 'BUTTONS.EDIT' | translate }}
        </a>
      </div>
    </li>
  </ul>
</div>
