<li class="list-group-item">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <h5 [ngSwitch]="!!route">
      <ng-container *ngSwitchCase="false">
        {{ title }}
      </ng-container>
      <ng-container *ngSwitchCase="true">
        <a [routerLink]="route">{{ title }}</a>
      </ng-container>
    </h5>
    <div class="badge badge-primary badge-pill">
      <i *ngIf="!!badgeIcon" class="fa fa-fw fa-{{badgeIcon}}" aria-hidden="true"></i> {{ badge }}
    </div>
  </div>
  <ng-content></ng-content>
</li>
