<app-loader [loaded]="!!discussion && !!comments">
  <app-main-content [title]="discussion?.title" icon="comments">
    <div class="btn-group btn-group-sm" title-right>
      <a edit-btn [routerLink]="'/discussion/' + discussion?.key + '/edit'"></a>
    </div>
    <div *ngIf="discussion?.description" class="card-block">
      {{discussion?.description}}
    </div>
    <ul items class="list-group list-group-flush">
      <app-main-content-item *ngFor="let comment of comments">
        <div [innerHtml]="comment.body"></div>
        <div class="w-100 d-flex justify-content-between align-items-center">
          <small class="text-muted">{{ comment.createdDate | amTimeAgo}}</small>
          <div class="btn-group btn-group-sm">
            <button remove-btn (click)="removeComment(comment)"></button>
          </div>
        </div>
      </app-main-content-item>
    </ul>
  </app-main-content>
  <app-tiny-editor class="d-block my-4" [elementId]="'my-editor'" (onEditorContentChange)="keyupHandler($event)"></app-tiny-editor>
  <button class="mr-1" save-btn (click)="addComment()"></button>
  <small class="text-muted" *ngIf="!!user?.email">{{ 'discussion.view.commentingAs' | translate:{value: user?.email} }}</small>
</app-loader>
