<carousel>
  <slide>
    <img class="img-fluid" src="/assets/father-and-child-on-dock.jpg" alt="Father and daughter on dock">
    <div class="carousel-caption">
      <h1>{{ 'HOME.HERO.TITLE' | translate }}</h1>
      <p class="lead">{{ 'HOME.HERO.TEXT' | translate }}</p>
    </div>
  </slide>
  <slide>
    <img class="img-fluid" src="/assets/istanbul-sunset.jpg" alt="Father and daughter on dock">
    <div class="carousel-caption">
      <h1>{{ 'HOME.HERO.TITLE' | translate }}</h1>
      <p class="lead">{{ 'HOME.HERO.TEXT' | translate }}</p>
    </div>
  </slide>
</carousel>
