<div class="jumbotron">
  <div class="container">
    <h1>{{ 'HOME.HERO.TITLE' | translate }}</h1>
    <p class="lead">{{ 'HOME.HERO.TEXT' | translate }}</p>
  </div>
</div>
<div class="container">
  <p>Voluptate exercitation non voluptate eiusmod in deserunt tempor elit aliquip aliquip culpa. Id adipisicing nisi ex quis
    ex ut sint ullamco eiusmod velit velit laboris adipisicing. Fugiat dolore et nulla elit adipisicing qui commodo labore
    quis aute dolore ex commodo. Culpa elit qui exercitation sunt elit tempor dolore commodo excepteur ullamco ex nulla et.
    Ut velit non ullamco eu mollit ipsum incididunt velit deserunt exercitation anim exercitation. Officia exercitation elit
    ea mollit voluptate. Sit sunt enim sunt cillum et qui cillum eu.</p>
  <p>Sunt amet tempor mollit reprehenderit. Lorem nostrud sunt officia laborum qui. Voluptate sunt elit et ipsum minim magna
    ad culpa culpa irure ea. Sint ipsum eu non irure non elit ipsum est ipsum sunt.</p>
  <p>Culpa et voluptate laboris aliqua nostrud. Quis elit esse nisi sunt reprehenderit consequat enim adipisicing eu non commodo.
    Aliqua ut amet pariatur aliquip do Lorem enim ad non ad enim. Ad mollit deserunt cupidatat anim id veniam ad fugiat dolore
    aute aliquip laborum magna dolor. Sunt et enim aliquip quis non irure dolore amet elit excepteur aliquip excepteur. Anim
    cupidatat duis id irure Lorem occaecat.</p>
</div>
