@import "../../styles.scss";
:host {
  &>.container {
    @extend .d-flex;
    @extend .justify-content-around;
    &>* {
      @extend .m-2;
      width: 33%;
    }
  }
}

.jumbotron {
  @extend .jumbotron-fluid;
  background-color: mix($brand-primary, $white);
  h1 {
    @extend .display-1;
    color: $brand-primary;
  }
}
